.section__grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.section__title {
  text-align: center;
}

.section__button {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
