$breakpoint-desktop: 1200px;
$breakpoint-bigTablet: 990px;
$breakpoint-tablet: 768px;
$breakpoint-smallTablet: 576px;
.card__image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 0.625rem;
}

.card__container {
  margin: 0 20px;
  background: #e3e3e3;
  @media only screen and(min-width: $breakpoint-smallTablet) {
    & {
      margin: 0;
    }
  }
}
.card__content {
  padding: 20px;
  background: #e3e3e3;
}
