.input--normal {
  width: 100%;
  height: 32px;
  padding: 4px 0px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  @media only screen and(min-width: 576px) {
    padding-left: 30px;
  }
}
